gitops-runtime:
  cf-argocd-extras:
    enabled: true
  argo-cd:
    acrController:
      enabled: true
    apiVersionOverrides:
      monitoring.coreos.com: v1
    applicationSet:
      metrics:
        enabled: true
    configs:
      cm:
        application.resourceTrackingMethod: annotation+label
      params:
        reposerver.parallelism.limit: 3
        applicationsetcontroller.enable.github.api.metrics: 'true'
    controller:
      metrics:
        enabled: true
    eventReporter:
      env:
        - name: USE_GRPC
          value: 'false'
      replicas: 4
    notifications:
      enabled: true
      logLevel: debug
      cm:
        create: true
        name: argocd-notifications-cm
      secret:
        create: false
      metrics:
      # -- Enables prometheus metrics server
        enabled: true
      notifiers:
        service.grafana: |
          apiURL: https://grafana-prod.cs.sandbox.codefresh.io/api
          apiKey: $grafana-api-key
        service.slack: |
          token: $slack-token

      templates:
        template.on-sync-succeeded: |
          message: "{{.app.metadata.name}} synced"
      triggers:
        trigger.on-sync-succeeded: |
          - description: Application syncing has succeeded
            oncePer: app.status.operationState?.syncResult?.revision
            when: app.status.operationState != nil and app.status.operationState.phase in ['Succeeded']
            send:
            - on-sync-succeeded
    repoServer:
      metrics:
        enabled: true
    server:
      metrics:
        enabled: true
      replicas: 2
      resources:
        requests:
          cpu: '0.3'
          memory: 400Mi

  argo-workflows:
    controller:
      workflowDefaults:
        spec:
          archiveLogs: true
          artifactRepositoryRef:
            configMap: codefresh-workflows-log-store
            key: codefresh-workflows-log-store

    artifactRepositoryRef:
      codefresh-workflows-log-store:
        archiveLogs: true
        codefresh-workflows-log-store:
          s3:
            bucket: 641dfab29939b208915c0d4e
            endpoint: gitops-workflow-logs.codefresh.io
            insecure: false
            keyFormat: high/{{workflow.name}}/{{pod.name}}
            accessKeySecret:
              name: codefresh-token
              key: token
            secretKeySecret:
              name: codefresh-token
              key: token

  global:
    codefresh:
      accountId: 641dfab29939b208915c0d4e
      userToken:
        secretKeyRef:
          name: codefresh-user-token
          key: token
    runtime:
      ingress:
        className: nginx-public
        enabled: false
      isConfigurationRuntime: false
      name: high
  installer:
    skipValidation: false
